body {
    background-color: #222;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    position: absolute;
    top: 6%;
    left: 10%;
}

.card-wrapper {
    background-color: #00305e;
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    text-align: left;
    padding-top: 30px;
    position: relative;
    max-height: 100%;
    min-height: 491px;
    border-radius: 20px;
}

.card-wrapper .content {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(99, 99, 99, 0.3);
    backdrop-filter: blur(8px);
    width: 93%;
    border-radius: 12px;
}

.card-wrapper .content h6,
h2 {
    font-weight: 700;
    letter-spacing: 0.75px;
    color: #f5f0d7;
    font-family: Montserrat, sans-serif;
    margin-left: 20px;
}

.card-wrapper .content>h6 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.card-wrapper .content>h2 {
    margin-top: 30px;
    font-size: 20px;
}

.contact-me {
    margin-bottom: 10px;
    position: relative;
}

.contact-me>a,
.contact-me .arrow-key {
    position: relative;
    z-index: 99;
}

#bg-green {
    background-color: springgreen;
    width: 0%;
    padding-bottom: 2px;
    border-radius: 5px;
    height: 21px;
    position: absolute;
    top: 0%;
    left: -2%;
    transition: width 0.8s ease;
    margin-top: -2px;
    z-index: -1;
}

.contact-me:hover #bg-green {
    width: 42%;
    color: black;
    padding-bottom: 28px;
}

.contact-me:hover {
    color: #222!important;
    font-weight: 700;
}

.contact-me:hover .arrow-key {
    margin-left: 5px;
    color: #00305e;
}

.contact-me>a {
    cursor: pointer;
    margin-left: 0px;
    text-decoration: none;
    color: #fff
}

.arrow-key {
    margin-left: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.card-container {
    position: relative;
    top: -496px;
    z-index: 9999999;
    bottom: 0;
    left: -113px;
    right: 2%;
    width: 89%;
}

.container {
    background: black;
    padding-top: 0px;
    padding-left: 50px;
    width: 30.2%;
    max-height: 100%;
    min-height: 500px;
    margin-top: 100px;
    margin-left: 306px;
    display: flex;
    align-items: center;
    border-radius: 22px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
}

.container::before {
    content: " ";
    background-color: aliceblue;
    position: absolute;
    z-index: 2;
    height: 900Px;
    width: 65%;
    left: 30%;
    right: 0;
    animation: spin 3.5s linear infinite;
}

.positioner {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 429px;
    margin-left: 0px;
}

@media screen and (max-width:768px) {
    body {
        padding-left: 25px;
    }
    .contact-me:hover #bg-green {
        margin-top: -3px;
        width:50%;
    }
    .container {
        width: 91%;
        max-width: 100%;
        min-height: 582px;
        margin-top: 48px;
        margin-left: 0px;
    }
    .card-wrapper {
        width: 100%;
        max-width: 100%;
        min-height: 576px;
    }
    .card-wrapper .content {
        bottom: 9%;
    }
    .card-container {
        left: 0.86%;
        top: -579px;
    }
    img {
        top: 17%;
        left: 8%;
        width: 250px;
    }
}
